<div *ngIf="pinnedIssues.length > 0" id="pinned">
  <h4>Pinned: <span class="glyphicon glyphicon-pushpin"></span></h4>
  <table class="table table-hover issue-table">
    <tr *ngFor="let issue of pinnedIssues; let i=index">

      <td class="col-md-2">
        <a href="#" (click)="openIssue(issue.id)"><strong>{{issue.id}}</strong></a>
      </td>

      <td class="col-md-9" *ngIf="!issue.editInProgress">
        <span >{{issue.name || '.....  '}}</span>
        <a class="btn btn-clear btn-xs glyphicon glyphicon-edit"
           title="Edit the issue name"
           (click)="issue.editInProgress = true"></a>
      </td>

      <td class="col-md-9" *ngIf="issue.editInProgress">
        <input type="text"
               [(ngModel)]="issue.name"
               class="form-control"
               (keyup.enter)="saveIssue(i, issue)"
               maxlength="50">

        <a type="button" class="btn btn-clear btn-xs"
           title="Save the issue name"
           (click)="saveIssue(i, issue)">Save</a>
      </td>


      <td class="col-md-1">
        <a class="btn btn-danger btn-xs glyphicon glyphicon-trash"
              (click)="deleteIssue(i)"></a>
      </td>
    </tr>
  </table>

</div>

<!--
{{pinnedIssues | json:true}}
-->
