<div *ngIf="pinnedIssues.length > 0" id="pinned">
  <h4>Pinned <span class="btn-xs glyphicon glyphicon-pushpin"></span></h4>
  <table class="table table-hover issue-table">
    <tr *ngFor="let issue of pinnedIssues; let i=index">

      <td width="20%">
        <a href="#" id="issue-link"(click)="openIssue(issue.id)">
          <span class="label label-info">{{issue.id}}</span>
        </a>
      </td>

      <td width="70%" *ngIf="!issue.editInProgress">
        <span >{{issue.name || '.....  '}}</span>
        <a class="btn btn-clear btn-xs glyphicon glyphicon-edit"
           title="Edit the issue name"
           (click)="issue.editInProgress = true"></a>
      </td>

      <td width="60%" *ngIf="issue.editInProgress">
        <input type="text"
               [(ngModel)]="issue.name"
               class="form-control"
               (keyup.enter)="saveIssue(i, issue)"
               maxlength="50">

        <a type="button" class="btn btn-clear btn-xs"
           title="Save the issue name"
           (click)="saveIssue(i, issue)">Save</a>
      </td>


      <td width="10%">
        <a class="btn text-danger btn-xs glyphicon glyphicon-trash"
              (click)="deleteIssue(i)"></a>
      </td>
    </tr>
  </table>

</div>

<!--
{{pinnedIssues | json:true}}
-->
