body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 380px;
  height: 500px;
}

#header {
  margin-bottom:30px;
}

#navigator, #recent, #pinned {
  margin:10px;
}

/* Navigator */
#navigator {
  background-color: lightgray;
  padding: 10px;
}
#issueIdLabel {
 padding-top:5px;
}


/* Issues table */
.issue-table #issueId{
  cursor: hand !important;
}

/* Form */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
