body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 350px;
  height: 500px;
}

#header {
  margin-bottom:10px;
}

#navigator, #recent, #pinned {
  margin:10px;
}

/* Navigator */
#navigator {
  background-color: #f6f4f4;
  border-radius: 5px;
  /*border: 0px solid #eeebeb;*/
  height:90px;
  margin-bottom:30px;
}

#navigator form {
  padding:10px;
}

#navigator form .form-group {
  padding-top: 15px;
}

#navigator form .form-group label {
 padding-top:5px;
}

/* Navigator Form */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#div-go-btn {
  padding-left: 0px;
}




/************ Recent **********/
#pinned{
  margin-bottom: 30px;
}

#issue-link {
  text-decoration: none;
}
